.Person {
 width: 200px;
 padding: 20px;
 text-align: center;
 border: 1px solid #eee;
 margin: 20px auto;
 border-radius: 5px;
 box-shadow: 0px 10px 8px #888888;
}

/* @media (min-width: 500px){
  .Person {
    width: 500px;
  }
} */