.Cockpit button {
  background-color: greenyellow;
  width: 100px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  outline: none;
  margin-right: 5px;
}

.Cockpit button:hover {
  background-color: forestgreen;
  color: white;
}

.Cockpit button.Red {
  background-color: red;
}

.Cockpit button.Red:hover {
  background-color: darkred;
  color: white;
}

